.productList {
  margin: 5rem auto;

  .headerText {
    font-size: 2em;
    font-weight: 700;
  }
  .title {
    font-weight: 600;
    font-size: 1em;
    // text-transform: uppercase;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
}
