.productScreen {
  margin: 5rem auto;

  .image {
    border-radius: 1rem;
  }

  .info {
    .title {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .paragraphText {
      font-size: 1em;
      color: #5c5c5c;
    }
    .tags {
      display: flex;
      gap: 0.5rem;
    }

    .tag-text {
      padding: 0.2rem 0.5rem;
      background-color: #f7f7f7;
      width: fit-content;
    }

    .description {
      margin: 1rem 0;
    }

    .addToCart {
      margin-top: 2rem;
      padding: 0.5rem;
    }

    .qty {
      display: flex;
      align-items: center;
      gap: 1rem;

      select {
        padding: 0.5rem;
        border: 1px solid #f7f7f7;
        background-color: #f7f7f7;
        border-radius: 0.5rem;
        font-weight: 600;
      }
    }
  }
}
