.orderScreen {
  margin-top: 5rem;

  .headingText {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  h5 {
    font-weight: 900;
  }
  .leftWrapper,
  .rightWrapper {
    background-color: #f7f7f7;
    border-radius: 1rem;
  }

  .info {
    background-color: #fff;
    border-radius: 0.5rem;
  }
  input {
    border: none;
  }

  .cartItem__image {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
  }
}
