/* @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Unbounded", cursive; */
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Barlow Semi Condensed", sans-serif; */
  /* font-family: "Cobin Condensed", sans-serif; */
  /* font-family: "Readex Pro", sans-serif; */
  font-family: "Saira Semi Condensed", sans-serif;

  /* text-transform: uppercase; */
  color: #000;
}
