.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
.itemCard {
  border: 1px solid transparent;
  border-radius: 1rem;
  overflow: hidden;
  &:hover {
    // border: 1px solid #000;
    //smooth transition
    transition: all 500ms ease;
  }

  .images {
    height: 60vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    &:hover {
      .secondImg {
        z-index: 2;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .mainImg {
      top: 0;
      left: 0;
      z-index: 1;
    }

    span {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      padding: 0.2rem 0.5rem;
      background-color: #000;
      border-radius: 0.2rem;
      color: #fff;
      z-index: 3;
    }
  }

  .info {
    padding: 1.5rem;
    background-color: #f7f7f7;
    .info-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;

      .title {
        font-weight: 700;
      }
    }

    .info-bottom {
    }
  }
}
